<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="HRM Application Test Automation Test Suite">
<listeners>
       <listener class-name="extendreports.ExtentReporterNG" />
   </listeners>
  <test thread-count="5" name="Test">
    
      <classes>
      <class name="Testcases.LoginPage_Test"/>
      <class name="Testcases.AdminPage_Test"/>
      <class name="Testcases.JobPage_Test"/>
       <class name="Testcases.Workshift_Test"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
